*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-clr-primary: #23424A;
    --bg-clr-secondary:  #136C72;

    --mid-items-txt-clr: #87629A;
    
    --btn-clr: #38CFD9;

    --black-stroke: #3A3A3A;
}

body {
    display: grid;
    place-content: center;
    font-family: 'Roboto', sans-serif;
    min-height: 100dvh;
    padding-block: 4rem;

    
}

img {
    max-width: 100%;
}

/* ---- utility classes ---- */
.row {
    display: flex;
    justify-content: space-between;
    
}

.col {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

/* ---- utility classes ---- */


.hero {
    max-width: 1100px;
    margin-inline: auto;
    background: var(--bg-clr-primary);

    
}

.container {
    display: flex;
    gap: 1rem;
    padding-inline: 4rem;
    padding-block: 6rem;

    & .hero__text {
        display: flex;
        flex-flow: column wrap;
        width: 60%;

        & h1 {
            font-size: 3rem;
            color: #ffffff;
            text-shadow: 2px 2px 2px #87629aa4;
        }

        & p {
            font-size: 1.313rem;
            color: #ffffff;
            opacity: .7;
            margin-bottom: 3.5rem;
        }

        a {
            display: inline-block;
            max-inline-size: fit-content;
            background: var(--btn-clr);
            padding: 0.75em 2em;
            border-radius: 100px;

            text-transform: uppercase;
            text-decoration: none;
            font-weight: 800;
            color: #3A3A3A;
            letter-spacing: 5%;
            border: none;
            cursor: pointer;

            transition: transform .3s ease-in-out, opacity .2s ease-in-out;

            &:hover {
                opacity: .75;
                transform: scale(1.1) translateX(1rem) translateY(-.5rem);
            }
        }
    }

    & .hero__box {
        width: 40%;
        overflow: hidden;
        border-radius: .25rem;
        align-self: flex-start;

        & img {
            display: block;
            border-radius: .5rem;
            transition: transform .4s ease-in-out;
            object-fit: cover;
            
            &:hover {
                transform: scale(1.2);
                border-radius: .5rem;
            }

        }
    }
}

.cta {
    max-width: 1100px;
    margin-inline: auto;

    & .container {

        & .cta__text {
            padding: 3rem;
            & h2 {
                font-size: 1.6rem;
                font-weight: 700;
                color: var(--mid-items-txt-clr);
            }
            & p {
                font-size: 1.313rem;
                color: #3A3A3A;
                opacity: .9;
            }
        }

        & .cta__features {
            padding: 3rem;
            background: var(--bg-clr-secondary);
            align-items: center;
            text-align: center;

            & h2 {
                font-size: 2rem;
                color: #ffffff;
            }
            & p {
                font-size: 1.313rem;
                font-weight: 400;
                line-height: 130%;
                color: #ffffff;
                opacity: .8;
            }
        }
    }
}