*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-clr-primary: #23424A;
    --bg-clr-secondary:  #136C72;

    --mid-items-txt-clr: #87629A;
    
    --btn-clr: #38CFD9;

    --black-stroke: #3A3A3A;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-block: 4rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: var(--black-stroke);
}

.page-container {
    display: flex;
    flex-flow: column wrap;
    width: min(80%, 68.75rem);
    margin-inline: auto;
    

    
}

.top-content {
    max-width: 60%;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 4rem;
    background: var(--bg-clr-primary);

    & h1 {
        font-size: 3rem;
        color: #ffffff;
        font-weight: 800;
    }
    & p {
        font-size: 1.313rem;
        color: #ffffff;
        opacity: .75;
        margin-bottom: 3em;
    }
    & .btn {
        display: inline-block;
        max-inline-size: fit-content;
        background: var(--btn-clr);
        border-radius: 100px;
        padding: 0.75em 2em;
        border: none;
        cursor: pointer;

        transition: opacity .2s ease-in-out, transform .3s ease-in-out;

        &:hover {
            opacity: .75;
            transform: scale(1.1) translateX(1rem) translateY(-.5rem);
        }
        
    }
}

.mid-content {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    padding: 4rem;

    background: #ffffff;

    & .item-row {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & h2 {
            color: var(--mid-items-txt-clr);
            font-size: 2rem;
            font-weight: 800;
        }

        & p {
            text-align: center;
            font-size: 1.313rem;
            font-weight: 500;
            opacity: .8;
            
        }
        
    }
}

.bottom-content {
    background: var(--bg-clr-secondary);
    display: flex;
    padding: 4rem;
    gap: 1rem;
    

    & .item-col {
        display: flex;
        gap: 1rem;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;

        & h2 {
            color: #ffffff;
            font-size: 2rem;
        }

        & p {
            font-size: 1.313rem;
            color: #ffffff;
            opacity: .85;
        }
        
    }
}